@require './product-list-fetch-indicator'

product-list
  .products
    list-style-type none
    padding 0

  product-item
    width 28%
    margin-left 1%
    margin-bottom 1rem
    float left
    height 250px
