product-item
  overflow hidden
  position relative
  margin-bottom 1rem

  .photo
    position absolute
    top 0
    left 0
    right 0
    z-index -1
    max-width 100%


  bookmark-form
    position absolute
    bottom 0
    left 0
    right 0


  .price
    position absolute
    right 1rem
    bottom 3rem

  .card-footer
    background-color #fff
